.nav-list {
    background-color: blue;
}

nav ul li:hover {
 background-color: darkgray;
 list-style-type: none;
}
nav ul li a{
text-decoration: none;
font-weight: bold;
color: beige;

}

table, th, td {
    border:1px solid black;
    border-collapse: collapse;
    background-color: gray;
}